/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  Remove default margin
*/
* {
  margin: 0;
}
html {
  font-family: "Open Sans", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #1e2227;
  display: flex;
  flex-direction: column;
}

/* Table style */
table {
  min-width: 50vw;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 16px;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  color: white;
  background-color: #272822;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

/* Form hidden */
.book-form {
  display: none;
}
.hide-form {
  display: block;
}

h1 {
  color: #0099d5;
  text-align: center;
  font-size: 60px;
  padding: 16px;
}
/* Add new book btn */
.add-new-book {
  margin: 16px;
  padding: 15px 30px;
  font-size: 16px;
}
.add-new-book:hover {
  cursor: pointer;
}
/* Book form */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  min-width: 50vw;
}

footer {
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 21px;
  color: white;
}
img {
  width: 15px;
}
/* style form */
.book-form {
  padding: 20px;
}
h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}
label {
  color: white;
  margin-top: 16px;
}
input[type="text"],
input[type="number"] {
  width: 50vw;
  font-size: 16px;
  padding: 10px 12px;
  margin: 5px 0px;
  font-family: "Open Sans", sans-serif;
}
.read-yet {
  color: white;
  font-size: 24px;
  margin: 10px 0px;
}
.label-yes,
.label-no {
  font-size: 24px;
  margin-right: 20px;
}
.submit-book-info {
  margin: 16px 0px;
  padding: 10px 40px;
  font-size: 16px;
}
.submit-book-info:hover {
  cursor: pointer;
}
/* Form */
:is(.book-name, .book-author, .book-pages) {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="number"] {
  appearance: none;
  outline: none;
}

:is(input[type="text"]:invalid, input[type="number"]:invalid) {
  border: 1px solid red;
}
:is(input[type="text"]:valid, input[type="number"]:valid) {
  border: 1px solid green;
}
.page-error {
  color: white;
  opacity: 0.5;
}
