html {
  font-family: sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/* Table style */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}
/* Form hidden */
.book-form {
  display: none;
}
.hide-form {
  display: block;
}
/*  */
h1 {
  color: #0099d5;
  text-align: center;
}
body {
  background-color: #1e2227;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 20px;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 21px;
  color: white;
}
